
.modalWrapper{
    background-color: rgba(240, 248, 255, 0.32);
    position: absolute !important;
    width: 100% !important;
    top: 0;
   font-family: "Iran-Sans-reg";
   overflow: hidden;
}
.modalForm{
   padding: 10px 10px;
   justify-content: center;
   align-items: center;

}
.modalForm input{
display: block;
    width: 90%;
padding: 8px 10px;
margin-bottom: 5%;
box-shadow: none;
border-radius: 10px;
border: 1px solid #dcdde1;
outline: none;
}
.modalForm textarea{
    width: 90%;
    border-radius: 10px;
border: 1px solid #dcdde1;
padding: 8px 10px;
}