@font-face {
  font-family: "Peyda";
  src: url("/fonts/Peyda.eot") format("eot");
  src: local("Peyda");
  src: url("/fonts/Peyda.ttf") format("truetype"),
    url("/fonts/Peyda.woff") format("woff"),
    url("/fonts/Peyda.woff2") format("woff2"),
    url("/fonts/Peyda.svg") format("svg");  
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan-Light";
  src: url("/fonts/IRANYekanLight.eot") format("eot");
  src: local("IRANYekanLight");
  src: url("/fonts/IRANYekanLight.ttf") format("truetype"),
    url("/fonts/IRANYekanLight.woff") format("woff"),
    url("/fonts/IRANYekanLight.woff2") format("woff2"),
    url("/fonts/IRANYekanLight.svg") format("svg"); 
  font-weight: 300;
  font-style: normal;
  font-display: swap;

}
@font-face {
  font-family: "IRANYekan-Bold";
  src: url("/fonts/IRANYekanBold.eot") format("eot");
  src: local("IRANYekanBold");
  src: url("/fonts/IRANYekanBold.ttf") format("truetype"),
    url("/fonts/IRANYekanBold.woff") format("woff"),
    url("/fonts/IRANYekanBold.woff2") format("woff2"),
    url("/fonts/IRANYekanBold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: "Iran-sans-bold";
  src: url("/fonts/IRANSansX-Bold.eot") format("eot");
  src: local("IRANSansX-Bold");
  src: url("/fonts/IRANSansX-Bold.ttf") format("truetype"),
    url("/fonts/IRANSansX-Bold.woff") format("woff"),
    url("/fonts/IRANSansX-Bold.woff2") format("woff2"),
    url("/fonts/IRANSansX-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Iran-sans-reg";
  src: url("/fonts/IRANSansX-Regular.eot") format("eot");
  src: local("Iran-sans-reg");
  src: url("/fonts/IRANSansX-Regular.ttf") format("truetype"),
    url("/fonts/IRANSansX-Regular.woff") format("woff"),
    url("/fonts/IRANSansX-Regular.woff2") format("woff2"),
    url("/fonts/IRANSansX-Regular.svg") format("svg");

  font-style: normal;
  font-display: swap;
}
