.postsWrapper{
    color:#2f3640;
    font-family: "Peyda";
    height: auto;
}
.postsWrapperDark{
    color: #f5f6fa;
}
.postsCard{
    text-align: center;
    margin: 8% auto;
    width: 20rem;
    border: none;
    padding-bottom: 10px;
    background-color: #f5f6fa;
    color: #2f3640;
}
.title{
    font-family: "Peyda";
}
.siglePostWrapper{
 padding-top: 90px;
 font-family: "Iran-sans-reg";
 color:#2f3640;
 overflow: hidden;

}
.siglePostWrapperDark{
    color: #f5f6fa;
}

.pictureFrame{
    width: 95%;
    height: 300px;
    margin: 0 auto;
    background-color: aliceblue;
    border-radius: 10px;
    object-fit: cover;
    
}
.pictureRow{
    width: 95%;
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
  
}
.pictureFrame img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
 
    
}
.pictureBox{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 10px;
    margin: 2% 1%;
    object-fit: cover;
    
}
.creator{
    font-size: 12px;
    font-weight: lighter;
    color: #888;
}
.pictureBoxActive{
    border: 2px solid #f5f6fa;
 
}
@media screen and (min-width:300px) and (max-width:700px) {
.siglePostWrapper{
   padding-top: 40px;
   text-align: justify;
}
.pictureRow{
    display: block;
}
.title{
    margin-top: 5%;
}
}